html, body, .viewport {
  height: 100%;
}

body {
  background-color: #f0f0f0;
}

.tile {
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 1em;
  width: 600px;
}

.application {
  display: flex;
  justify-content: center;
  height: 100%;
}

.home {
  align-self: center;
}

.search {
  padding: 1em;
  text-align: center;
}

.search-field {
  margin: 0.5em 0;
}

.search-button {

}

.results-count {
  padding: 1em;
}

.movie {
  display: flex;
  align-items: center;
}

.movie:last-child {
  padding-right: 1em;
}

.movie-detail {
  align-items: flex-start;
  align-self: center;
}

.movie-meta-items {
  font-size: 0.8em;
}

.movie-meta {
  display: inline;
}

.movie-meta:not(:last-child) {
  border-right: 1px solid grey;
  padding-right: 0.5em;
}

.movie-meta:not(:first-child) {
  padding-left: 0.5em;
}

.movie-credit {
  margin: 0.75em 0;
}

.poster-image {
  background-color: lightgrey;
  display: inline-block;
  margin-right: 1em;
}

.poster-image img {
  width: 100%;
}

.movie-summary .poster-image {
  min-width: 75px;
  width: 75px;
}

.movie-summary .poster-image:empty {
  height: 108px;
}

.movie-detail .poster-image {
  min-width: 200px;
  width: 200px;
}

.movie-detail .poster-image:empty {
  height: 300px;
}

.separator {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  height: 1px;
  margin: 1em 0;
}